body {
    background-image: url("Background Image.png");
    background-size: cover;
    font-family: 'Architects Daughter', cursive;
}

.Xyz {
    width : 100%;
    margin-top: 0%;
    font-size: 15px;
}

#Note {
    color: red;
}

.Disk {
    height : 200px;
}

#Left, #S {
float: left;
}

#Right, #V {
float: right;
}